.yt-play-button {
  width: 7ch;
  border: 4px solid green;
}

yt-player {
  padding: 1rem;
  border: 1px solid red;
  min-height: 12rem;
  background-color: blue;
}

.yt-speed-button {
  width: 5ch;
}

.yt-stop-button {
  width: 6ch;
}

